<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="si.virag.bicikelj">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="si.virag.bicikelj.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="si.virag.bicikelj.permission.MAPS_RECEIVE"/>

    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:name=".BicikeljApplication"
        tools:ignore="GoogleAppIndexingWarning">
        
        <uses-library android:name="com.google.android.maps" />
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:logo="@drawable/logo_padded"
            android:theme="@style/Theme.Bicikel"
            android:resizeableActivity="true"
            tools:targetApi="q">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".station_map.StationMapActivity" android:theme="@style/Theme.Bicikel" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_api_key" />

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.crashlytics.ApiKey" android:value="5387e48d80669f4e2a3a0ca327b54e39b9e74e5f"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>